# Using a venv with python@3.10.15

mplcursors==0.3
numpy==2.0.0
yfinance==1.2.0
tqdm==4.48.0
joblib==1.4.2
matplotlib==3.9.2
Flask==2.2.2
Flask_FlatPages==0.7.2
pandas==2.2.3
Frozen_Flask==1.0.2
python_dateutil==2.9.0
tenacity==9.1.2
python-dotenv==1.1.1
Werkzeug==2.2.2