# Using a venv with python@3.10.15

mplcursors==0.3
numpy==2.0.0
yfinance==0.2.44
tqdm==4.48.0
joblib==0.16.0
matplotlib==3.9.2
Flask==2.2.2
Flask_FlatPages==0.7.2
pandas==2.2.3
Frozen_Flask==1.0.2
python_dateutil==2.9.0
Werkzeug==2.2.2
quandl==3.7.0
joblib==1.4.2