<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!DOCTYPE html>
<html>
  <head>
    <title>Unusual Volume Scanner</title>
    <link rel="icon" type="image/png" href="https://user-images.githubusercontent.com/28206070/89098997-dbe34c00-d3b1-11ea-8027-8db44a0e08a0.png" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script data-ad-client="ca-pub-5554385581369218" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
      h1 {font-family: 'Lexend Deca', sans-serif; text-align: center; color: white; padding-top: 30%;}
      h2 {font-family: 'Lexend Deca', sans-serif; font-size: 20px; text-align: center; color: white;}
      body {color: A9A9A9; padding-bottom: 25px;}
      @media (max-width: 1024px) { h1 { font-size: 20vw; padding-top: 100%} }
      .transparent-box {
        opacity: 0;
        height: 100px;
        margin-top: 100px;
      }
    </style>
  </head>





  <body style="background-color: black;">
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="height: 100vh; margin-left: 5vw; margin-right: 5vw;"
    >
    <h1 class="mt-auto display-3">Unusual Volume Scanner</h1>
      <h2 >
        Get alerted when a stock's volume exceeds 10 standard deviations from the mean
        within the last 3 days. <a href = "https://sampom100.github.io/UnusualVolumeDetector_Dynamic/">Dynamic Version.</a>
      </h2>
      <table class="mb-auto table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Date</th>
            <th scope="col">Volume</th>
          </tr>
        </thead>
        <tbody>
          {% for stonk in stonks %}
          <tr>
            <th scope="row">
              <a
                href=" {{ 'http://robinhood.com/stocks/{}'.format(stonk['Ticker']) }}"
                >{{stonk['Ticker']}}</a
              >
            </th>
            <td>{{stonk['TargetDate']}}</td>
            <td>{{stonk['TargetVolume']}}</td>
          </tr>
          {% endfor %}
        </tbody>




      </table>
      <body>
        <span style="margin-top: 10px; ">
          <body>
            Made by Sam Pomerantz and contributors.
          <body>
        </span>
          <span style="margin-top: 0px; margin-bottom: 200px;">
              <a href = "https://github.com/SamPom100/UnusualVolumeDetector">
                GitHub
              </a>
              <a>
                •
              </a>
              <a href = "https://www.linkedin.com/in/pomerantzsam/">
                LinkedIn
              <a>
              <a>
                •
              </a>
              <a href = "https://www.paypal.me/SamPom100">
                Donate
              <a>
          </span>
          <span style="margin-top: 10px; color: grey; font-size: 10px;">
            <body>
              Thank you for visiting
            <body>
          </span>
    </div>

  </body>
</html>